# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
dist/

# PyEnv
.python-version

# Jupyter Notebooks
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# PyTorch specific
*.pth

# Gymnasium specific
*.mp4

# Project specific
data/
models/
results/